*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  
}

body{
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

.heading{
    text-align: center;
}

p{
    padding: 20px;
}
.card{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    display: flex;
    padding: 10px;
    gap:20px;
    border-radius: 5px;
    height: 160px;
    width:80%;
    margin: 10px 0 0 10px;
}

.index{
    align-content: center;
}


.s1{
    position : relative;
}

img{
    border-radius: 10px;
    width:250px;
    height: 160px;
}

.duration{
    background-color: black;
    opacity: 0.8;
    position : absolute;
    left:190px;
    bottom:15px;
    z-index: 10;
    padding:8px;
    border-radius: 5px;
}

.s2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    padding-top: 10px;
    font-size: larger;
    font-weight: 600;
}

.details{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 35px;
}
.details li{
    color: rgb(181, 177, 177);
}